<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/CV.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="CV.JS"> </script>
    <title>Document</title>
</head>
<body>
    <h1> Hello {{ session.username }} </h1>
    {% set this_page='My CV' %}
    {% include 'include EX.html' %}
    <div id="GridContainer"">
        <div id="item1">My CV <BR>
            welcome to my CV, <br>
            Raz Rossaby <br>
            Student for information system managment in BGU<br>
            24 Years Old
        </div>
        <div id="item2">Last Jobs <br>
        Worker in Dead Sea Workd </div>
        <div id="item3">information</div>
        <div id="item4">Photo</div>
        <div id="item5">Adress and Contact information <Br>
        Sderot Izhak Rager 49 <br>
    Beer Sheva</div>
    <a href="/ContactUs">Stay in Contact!</a>
    <a href="/Hobbies">Want to see more about my hobbies? Click Here!!</a>

    {% if session.username %}
             <button onclick="window.location.href='/log_out'">LOG OUT</button>
    {% else %}
            <button onclick="window.location.href='/assignment9'">LOG IN</button>
      {% endif %}
    
    </div>
    
</body>

</html>